body {
  font-family: Arial;
  background: #f5f5f5;
}

.card {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

button {
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px;
}

.item, .order {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}